@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>HONEY'S Book Store</h1>
    <p class="lead">
        <p>HONEY'S book store helps user to add update delete data through scaffolding models views and controllers.</p>
    <p> In this there are two tables of stores and items. where users can update delete add things regarding books and stationeries.</p>
    <p> This project has both unit testing and individual user authetication.</p>
    <p> This has authenticated and authorized user and admin.</p>
    <p>This has google and microsoft signin.</p>
</div>

<div class="row">
    
    <h2>Get Shopping with Honey's Book Store</h2>
        
    
</div>